################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/universitymanagementportal.projects.v2
/.vs/UniversityPortal/v17/.suo
/.vs/UniversityManagementPortal/FileContentIndex
