################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/universitymanagementportal.projects.v2
/.vs/UniversityPortal/v17/.suo
/.vs/UniversityManagementPortal/FileContentIndex
/UniversityManagementPortalWebApp/bin/Debug/net6.0
/UniversityManagementPortalWebApp/obj/Debug/net6.0
/UniversityManagementPortalWebApp/obj
/UniversityMgmtUtil/bin/Debug/net6.0
/UniversityMgmtUtil/obj/Debug/net6.0
/UniversityMgmtUtil/obj/Release/net6.0
/UniversityMgmtUtil/obj
/UniversityMgmtUtil/bin/Debug/net6.0
/UniversityManagementPortalUIModel/obj
/UniversityManagementPortalWebApp/bin/Debug/net6.0
/UniversityManagementPortalWebApp/obj/Debug/net6.0
/UniversityManagementPortalWebApp/obj
/.vs/UniversityManagementPortal/FileContentIndex
/UniversityManagementPortalUIModel/bin/Debug/net6.0
